#container{
    height: 100vh;
    width: 100vw;
}

.popup-save-button{
    background-color: lightgray;
    border-radius: 2px;
    border: none;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.popup-save-button:hover{
    background-color: green;
    color: white;
    border-radius: 2px;
}
.popup-save-button:focus{
    background-color: darkgreen;
    color: white;
    border-radius: 2px;
}

.validation-errors{
    color: red;
    text-align: center;
    font-size: 12px;
}


.popup-cancel-button{
    background-color: transparent;
    border: none;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.popup-cancel-button:hover{
    background-color: red;
    color: white;
}
.popup-cancel-button:focus{
    background-color: orange;
}

.popup-body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
}

.popup-body-section{
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    margin-bottom: 10px;
}

.popup-body-item-title{
    width: 30%;
}.popup-body-item{
    width: 70%;
}

#popup-map{
    height: 200px;
    width: 300px;
    border: 1px solid darkgray;
    border-radius: 5px;
}

#map-loading{
    font-size: 10px;
    text-align: center;
    color: blue;
}